#all {
	position: relative;
	margin: 0 auto;
	z-index: 1;
	border-radius: 20px;
	background-color: white;
	-webkit-filter: drop-shadow(5px 5px 5px  black);
 	filter: drop-shadow(5px 5px 5px  black);
 	font-family: serif;
 	height: 100vh;
 }

h1 {
	text-align: center;
	position: relative;
	color: white;
	margin: 0;
	padding: .25em 0;
	background-color:  #ff8a37;
	border-radius: 20px 20px 0 0;
}

#logo {
	text-align: center;
}

form {
	padding: 0 10px;
}

input, label {
	display: block;
}

form div {
	position: relative;
	margin: 2vh 0 0;
	height: 10vh;
	padding: 0 10px;
}

.data {
	width: 110vh;
}


.orange {
  background-color:  #ff8a37;
  color: white;
  margin: 1em auto;
}

.has-error {
	color: red;
}

.hasnt-error {
	color: green;
}