#all {
	margin: 0 auto; 
	border-radius: 5% 5% 15% 15%;
	border-bottom: 2px solid #ff8a37;
	border-right: 2px solid #ff8a37;
	border-left: 2px solid #ff8a37;
	filter: drop-shadow(5px 5px 5px  black); 
	padding: 0 10% 15% 10%;
}


img {
	position: relative;
	-webkit-filter: drop-shadow(5px 5px 5px  #ff8a37);
	filter: drop-shadow(5px 5px 5px  #ff8a37);
}

h1 {
	background-color: #ff8a37;
	border: 2px solid #ff8a37;
	border-radius: 15% 15% 0 0;
	text-align: center;
	width: 100%;
	padding: 0;
	margin: 0 50px;
}

.data {
	width: 100%;
}


#body-form {
	text-align: center;
	padding: 0 20px;
	padding-bottom: 20px;
}

input, label, select {
	display: block;
}

form div {
	padding-bottom: 20px;
}

.orange {
	background-color: #ff8a37;
	color: #fff;
}

.has-error {
	color: red;
}

.hasnt-error {
	color: green;
}