body {
	height: 30em;
}

#all {
	position: relative;
	margin: 0 auto;
	z-index: 1;
	border-radius: 20px;
	background-color: white;
	-webkit-filter: drop-shadow(5px 5px 5px  black);
 	filter: drop-shadow(5px 5px 5px  black);
 	font-family: serif;
 	height: 100%;
 }

h1 {
	text-align: center;
	position: relative;
	color: white;
	margin: 0;
	padding: .25em 0;
	background-color:  #ff8a37;
	border-radius: 20px 20px 0 0;
}

form div {
	position: relative;
	margin: 0 auto .5em;
	width: 80%;
}

/*#body-form {
	height: 35em;
}	*/

.orange {
  background-color:  #ff8a37;
  color: white;
  margin: 1em auto;
}

.has-error {
	color: red;
}

.hasnt-error {
	color: green;
}