body {
    font-family: Roboto;
    background-image: linear-gradient(to left bottom, #ffffff, #fd8e85, #f77761, #ec633a, #dd5100);
    background-repeat: no-repeat; 
    width: 100% !important;
}

html{
    height: 100% !important;
}

h1 {
	background-color: #e77000;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
    font-weight: normal;
    border-radius: 3px;
    text-align: center
}

h2 {
    color: green;
    font-size: 5em;
    text-align: center;
}

img {
    width: 90px;
    margin: .3em;
}

.btn-toolbar{
    /* background: rosybrown; */
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    margin: auto;
    align-content: center;
    /* background-color: white; */
}

.opt{
    width: 17.5% !important;
    margin: 1.25% !important;
    /* margin: auto !important; */
    
}

.form-inline {
    padding-left: 6%;
}


.row {
    max-width: 100%;
}


.vendas {
    margin-left: 6%;
    margin-top: 3%;
}

.table-size {
    height: 150px;
    overflow: auto;
    background: white;
}

tr .del {
	background-color: #e74c3c;
	/* height: 10px; */
	margin-right: 0px;
    text-align: center;
	color: white;
	width: 0px;
	display: inline-block;
	opacity: 0;
	transition: .2s linear;
}

tr:hover .del {
    width: 20px;
    height: 20px;
    margin-right: 10px;
	opacity: 1.0;
}

.received {
    color: green;
    font-size: 2em; 
}


.not-received {
    color: red;
    font-size: 2em; 
}

.col-md-6 {
    width: 40%;
    text-align: center;
}

h3 {
    text-align: center;
    float: left;
    width: 100%;
}

h3 span {
    float: right;
}

.final-btn {
    align-content: center;
    text-align: center;
    margin: 0px;
}

.final-btn img {
    width: 70px;
}

.active {
    border-radius: 5px !important;
    border: 2px solid green !important;
}
