html {
    max-height: 100vh;
}

body{
    max-height: 100vh;
    font-family: "Microsoft JhengHei Light", serif;
}

/*Scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*End Scroll Bar*/

.orange {
    background-color: #ff8a37 !important;
    color: white;
    padding: .25em;
}

.pesquisa {
    width: 100%;
    margin-bottom: 20px !important;
}

.h-text {
    text-align: center;
    font-family: "Microsoft JhengHei Light", serif;
    position: relative;
    color: white;
    margin: .25em auto;
}

.h-link {
    font-size: 1em;
    font-family: "Microsoft JhengHei Light", serif;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.selected {
    background: lightgreen;
}

.block {
    display: block;
}

.btn-orange {
    background-color: #ff8a37;
    color: white;
    padding: .5em;
    border: 1px solid white;
}

.btn-orange:hover {
    background-color: white;
    color: #ff8a37;
    border: 1px solid #ff8a37;
}