html {
    max-height: 100%;
}

body {
    height: 100%;
    max-width: 100%;
}

.div {
    width: 100%;
    height: 100%;
}

.admin {
    height: 100%;
    width: 50%;
    float: left;
    margin: auto;
}

.admin img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.sale {
    height: 100%;
    width: 50%;
    float: right !important;
    position: relative;
}

.sale img {
    width: 200px;
    height: 200px;

}