/* Propriedades do html */

html {
    min-height: 100%;
}

body {
    font-family: Roboto;
    background-image: linear-gradient(to left bottom, #ffffff, #fd8e85, #f77761, #ec633a, #dd5100);
    background-repeat: no-repeat;
}

header {
    height: 100vh !important;
}

/* Titulos */

h1 {
	background-color: #e77000;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
    font-weight: normal;
    border-radius: 3px;
}

/* Colunas da página de cima */

.up-page{
    width: 40%;
    margin: 40px 20px 10px 30px;
    background-color: transparent;
}

/* Limita tamanho da tabela */

#sale{
    height: 400px;
    overflow: auto;
    background: white;
}

#product{
    height: 300px;
    overflow: auto;
    background: white;
}

#payment{
    height: 150px;
    overflow: auto;
    background: white;
}

/* Propriedades das tabelas */

table {
    width: 100%;
    font-size: 0.8em;
}

.row {
    max-width: 100%
}

tr .del {
	background-color: #e74c3c;
	margin-right: 0px;
    text-align: center;
	color: white;
	width: 0px;
	display: inline-block;
	opacity: 0;
	transition: .2s linear;
}

tr:hover .del {
    width: 20px;
    height: 20px;
    margin-right: 10px;
	opacity: 1.0;
}

/* Para a tabela não mudar com textos muito grandes */

.table .text {
  position: relative;
  border-radius: 5px;
}

.table .text .text-el {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  left: .75em;
  right: 0;
}

.text:before {
  content: '';
  display: inline-block;
}

/* Painel - Adicionar o Produto */

.panel-heading {
    width: 100%;
    margin-top: -52px;
    z-index: 100;
}

.panel-block {
    background: white;
    height: 120px;
}

.panel-block img {
    height: 60px;
    width: 60px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 10px;
    float: left;
}

.h2 {
    display: block;
    font-size: 13px;
    padding: 0 0 5px 0 ;
    color: lightslategray;
}

.select {
    font-size: 15px;
}

.first-side {
    float: left;
    width: 50%;
    height: 80%;
    margin-top: 1em;
    margin-left: 1em;
}

.second-size {
    width: 20%;
    height: 80%;
    margin-top: 2em !important;
    float: right;
    align-content: center;
    display: block;
    margin: 3px;
}

.second-size button {
    margin-top: .5em;
    float: left;
}

.second-size a{
    margin: 25px;
}

.number-input {
    width: 130px !important;
    color: lightslategray;
}


.field {
    display: inline-block;
}

.is-small {
    width: 1em !important;
}

/* Campo de Pesquisa */
.pesquisa {
    width: 100%;
    margin-bottom: 0 !important;
}

.is-right {
    right: 10px !important;
}

.produto {
    margin-top: 50px;
}

.form-group {
    margin-bottom: 0 !important;
}

.codigo {
    width: 50px;
    font-size: 12px;
}

/* Botao da sale */

.finish-sale {
    float: right;
}

.to-right {
    width: 45%;
}

/* Pagina 2 */

h2 {
    color: green;
    font-size: 5em;
    text-align: center;
}

img {
    width: 90px;
    margin: .3em;
}

.btn-toolbar{
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    margin: auto;
    align-content: center;
}

.opt{
    width: 17.5% !important;
    margin: 1.25% !important;    
}

.form-inline {
    padding-left: 6%;
}


.vendas {
    margin-left: 6%;
    margin-top: 3%;
}


.green {
    color: green;
    font-size: 2em; 
}


.red {
    color: red;
    font-size: 2em; 
}

.col-md-6 {
    max-width: 42%;
    text-align: center;
}

.right {
    float: right;
    margin-right: 3%;
}

h3 {
    text-align: center;
    float: left;
    width: 100%;
    overflow: hidden;
}

h3 span {
    float: right;
}

.final-btn {
    /* align-content: center; */
    text-align: center;
    margin-bottom: 10px;
}

.final-btn a{
    margin-left: 50px;
    margin-right: 50px;
}

.final-btn img {
    width: 70px;
}

.active {
    border-radius: 5px !important;
    border: 2px solid green !important;
}
