html {
    max-width: 100%;
}

body {
    max-width: 100%;
}

.row {
    width: 100%;
    margin: 0;
}

h1 {
    height: 10%;
    width: 100%;
    text-align: center;
    position: relative;
    color: white;
    margin: 0;
    padding: .25em 0;
    background-color:  #ff8a37;
}

#logo {
    height: 20%;
    text-align: center;
}


#body-form {
    height: 90%;
}

form {
    height: 80%;
    padding: 0 10px;
}


form div {
    position: relative;
    height: 20%;
    padding: 0 10px;
}

input, label {
    display: block;
    text-align: center;
}

.data {
    width: 100%;
}

#output {
    text-align: center;
}

#sent {
    margin: 0;
    padding-bottom: 10px;
}

.orange {
    background-color:  #ff8a37;
    color: white;
}

.has-error {
    color: red;
}

.hasnt-error {
    color: green;
}


h2 {
    color: green;
    font-size: 3em;
    text-align: center;
    width: 100%;
}

.btn-lg {
    width: 300px;
    margin: 20px;
}

.btn-img img {
    width: 64px;
}

.btn-img {
    border: 1px solid white;
    margin-left: 1em;
    background: transparent;
    /*float: right;*/
}